.accountInfo {
    font-size: 20px;
}

.namePassword {
    font-size: 20px;
    border-radius: 0px;

}

.flashes_error {
    font-size: 30px;
    color: red;
}

.flashes_success {
    font-size: 30px;
    color: greenyellow;
}

.form {
    display: inline;
}


